body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(209, 209, 209);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  /* background: rgb(214, 214, 214); */
  background: lightpink;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  /* background: rgb(156, 156, 156); */
  background: rgb(255, 143, 199);
}

::selection {
  color: hotpink;
  background-color: #64a5c4;
}