.e-card {
    border-radius: 8px;
    /* background: linear-gradient(to right, rgb(16, 58, 85) 0%, rgb(23, 87, 77) 100%); */
    background:lightpink;
    /* margin: 5px 15px 20px; */
    margin-bottom: 25px;
    margin-left: 25px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    width: 300px;
}

.e-card-image img {
    width: 300px;
    border-radius: 8px 8px 0px 0px;
}

.e-card-title {
    padding: 5px 8px;
}

.e-card-title-home {
    padding: 0px 8px 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 23px;        /* fallback */
    max-height: 50px;       /* fallback */
    min-height: 50px;
}


.e-card-content {
    padding: 0 8px 9px;
}