.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .inner{
        width: fit-content;
        padding: 0.9rem 0.8rem;
        border-radius: 10px;
        background: rgb(255, 220, 226);
        box-shadow:  -4px 6px 12px 3px rgba(0, 0, 0, 0.12);;
        .title{
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 0.7rem;
        }
        .amount{
            font-size: 1.4rem;
            font-weight: 500;
            // margin-bottom: 0.5rem;
        }
    }
}