.filters{
    .filterContainer{
        display: inline-block;
        margin-right: 1.2rem;
        margin-bottom: 1.2rem;
        border: 1px solid var(--color-inactive);
        border-radius: 10px;
        padding: 0.5rem;

    }
    .filter{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.3rem;

    }

    select{
        font-size: 1rem;
        padding: 0.6rem;
        display: inline-block;
        background: #ececec;
        width: 180px;
        padding-left: 0;
        color: black;
        option{
            padding: 1rem;
            background: #ececec;
        }
    }
}

.results{
    margin-top: 2rem;
    .btn{
        margin-bottom: 1rem;
        padding: 0.8rem;
        color: #333;
        font-size: 1rem;
        border-radius: 10px;
        font-weight: 600;
        cursor: pointer;
        transition: all ease-in-out 300ms;
        &:hover{
            background: var(--color-inactive);
            color: whitesmoke;
        }
    }
    .inner{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}