.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    span{
        color: #333;
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }

    input{
        width: 100%;
        max-width: 350px;
        font-size: 1rem;
        padding: 0.6rem 0.5rem;
        background: #ececec;
        margin-bottom: 1rem;
    }

    button{
        cursor: pointer;
        transition: all ease-in-out 300ms;
        padding: 0.3rem 0.6rem;
        border-radius: 10px;
        font-size: 1rem;
        color: #333;
        background-color: lightpink;
        &:hover{
            color: #fff;
            background: hotpink;
            
        }
    }
}

.registerForm{
    margin-top: 3rem;
}