.container {
    border-radius: 10px;
    display: inline-block;
    width: fit-content;
    margin-right: 1rem;
    margin-bottom: 1rem;

    .inner {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 1rem 1.4rem;
        .iconContainer {
            display: flex;
            svg {
                width: 35px;
                height: 35px
            }
        }
        .info {
            color: whitesmoke;
            title {
                font-size: 1.2rem;
            }
            .money {
                font-size: 0.8rem;
            }
        }
    }
}