.container {
    .dateSearchFilter {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        margin-bottom: 1.2rem;

        .date {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            input,
            option,
            select {
                width: 100%;
                padding: 0.8rem 0.5rem;
                font-size: 1rem;
                background: rgb(236, 236, 236);
                max-width: 400px;
            }

            label {
                font-size: 1.1rem;
            }
        }

        .btn {
            align-self: flex-start;
            padding: 1rem;
            color: black;
            font-size: 1.1rem;
            background: var(--color-red-300);
            cursor: pointer;
            transition: all 300ms ease-in-out;
            border-radius: 8px;

            &:hover {
                background: hotpink;
                color: whitesmoke;
            }
        }
    }

    .w100 {
        width: 100%;
    }

    .results {
        margin-top: 1.2rem;

        .container {
            display: inline-block;

            @media screen and (max-width: 500) {
                display: unset;
                width: 100%;
            }

            .deleteContainer {
                display: flex;
                align-items: center;
                gap: 2rem;
                margin-right: 2rem;
                margin-bottom: 2rem;
                width: 500px;

                @media screen and (max-width: 500px) {
                    margin-right: 0;
                    width: unset;
                    justify-content: space-between;
                }

                .iconContainer {
                    cursor: pointer;
                    padding: 0.5rem;
                    border-radius: 10px;
                    border: 2px solid var(--color-red-300);
                    display: flex;
                    transition: all 300ms ease-in-out;
                    background: var(--color-red-100);

                    &:hover {
                        background: whitesmoke;
                    }

                    svg {
                        width: 25px;
                        height: 25px;
                        color: var(--color-red-600);
                    }
                }
            }
        }
    }
}