.tabbar{
    margin-top: -20px;
    margin-bottom: 40px;

    .activeTab{
        background-color: hotpink;
        border: 1px solid hotpink;
        border-radius: 20px;
        padding: 5px 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: white;
    }

    .tab{
        background-color: #fff;
        border: 1px solid hotpink;
        border-radius: 20px;
        padding: 5px 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
}